body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 80%;
    border-top: 1px solid #333;
  }
  
  .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid white;
    margin-bottom: 20px;
  }
  
  .sidebar h1 {
    font-size: 3em;
  }
  
  .sidebar span {
    font-weight: lighter;
  }
  
  .chatbox {
    flex: 1;
    background-color: #111;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .chat-header p {
    margin: 0;
    font-size: 2em;
  }
  
  .chat-input {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .chat-input input {
    flex: 1;
    padding: 20px;
    background-color: #222;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    font-size: 1.5em;
  }
  
  .chat-input button {
    background-color: #222;
    border: none;
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .chat-input button:hover {
    background-color: #333;
  }
  